<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filemanager</title>
    <link rel="stylesheet" href="css/style.css" />
    <script>
      function show(){ document.getElementById("popup").showModal() } function
      hide(){ document.getElementById('popup').close() }

    </script>
  </head>
  <body>
    <header>
      <p>filemanager</p>
    </header>

    <nav>
      <button onclick="show()" class="button">new folder</button>
      <button id="text" class="button">new text file</button>
      <div class="button" id="upload"></div>
    </nav>

    <dialog id="popup">
      <p>new folder name </p>
      <input type="text" name="folder" />
      <button onclick="send()">ok</button>
      <button onclick="hide()">cancel</button>
    </dialog>

    <div id="body">
      {{{body}}}
    </div>
  </body>
</html>