<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filemanager</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <p>filemanager</p>
    </header>

    <nav>
      <button class="button">nowy folder</button>
      <button class="button">nowy plik tekstowy</button>
      <div class="button" id="upload"></div>
    </nav>

    <div hidden id="popup">
      <p>nazwa nowego folderu w </p>
      <input type="text" name="folder" />
      <button>ok</button>
      <button>cancel</button>
    </div>

    <div id="body">
      {{{body}}}
    </div>
  </body>
</html>