<div id="left">
  <p>multiupload</p>
</div>
<div id="rigth">
  <form enctype="multipart/form-data" method="POST" action="/handleUpload">
    <input
      type="file"
      multiple
      required
      accept="image/*"
      name="image"
      id="test"
    />
    <button type="submit">upload</button>
  </form>
</div>

<script>

</script>